

<div *ngIf="condition; then thenBlock else elseBlock"></div>
<!--ng-template #adminLayout>
  <div class="header">
    <app-adminheader></app-adminheader>
  </div>
  <div class="row">
  <div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
      <app-adminsidebar></app-adminsidebar>
    </div>
  </div>
  <div class="col-md-10">
    <div class="body-style">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
  <footer>
  <app-adminfooter></app-adminfooter>
</footer>
</ng-template -->
<ng-template #cusomterLayout>
  <app-header></app-header>
  <div class="container">
    <div class="body-style">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</ng-template>
