

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <!-- <section class="content-header"> -->
        <h1>
         {{school.schoolInfo.schoolName}}
          <small>added on</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="../../index.html"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="#">UI</a></li>
          <li class="active">Timeline</li>
        </ol>
      <!-- </section> -->

      <!-- Main content -->
      <!-- <section class="content"> -->

        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
              <!-- timeline time label -->
              <li class="time-label">
                    <span class="bg-red">
                    {{school.date}}
                    </span>
              </li>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-envelope bg-blue"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                  <h3 class="timeline-header"><a href="#">Requirements</a> listed below</h3>

                  <div class="timeline-body">
                   <div class="box-body">
                     
                <ul  *ngFor="let requirement of school.requirements">

                  <li>{{requirement.quantity}} {{""}} {{requirement.assetName}}</li>
                </ul>

            <h3>Address of the School</h3>
            <div>
                {{school.address.addressLine1}},&nbsp;&nbsp;
                {{school.address.addressLine2}}&nbsp;&nbsp;
                {{school.address.city}}&nbsp;&nbsp;
                {{school.address.district}}&nbsp;&nbsp;
                {{school.address.state}}&nbsp;&nbsp;
                {{school.address.pinCode}}&nbsp;&nbsp;
              </div>
              <div>
                Contact number -
                <ul>
                    <li> {{school.concats.priName}} </li>
                    <li> {{school.concats.priEmail}} </li>
              </ul>
              </div>

              <h3>Email Address of Beneficiary</h3>
              <ul>
                <li> <input type="checkbox" value={{school.concats.priEmail}}/>  {{school.concats.priEmail}}</li>
                <li> <input type="checkbox" value={{school.concats.secEmail}}/>  {{school.concats.secEmail}}</li>
              </ul>
  </div>
  <div>

      <div class="form-group" [formGroup]="beneficiaryLinkActivateForm">
                    <label>Enter Action items to Beneficiary</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..." formControlName="actionItems"></textarea>
                  </div>


              </div>
                  </div>
                  <div class="timeline-footer">
                    <button (click)="activateEditLinkToBeneficiary()" class="btn btn-danger btn-xs">Click Activiate Edit link to Beneficiary</button>
                    <a [routerLink]="['/admin/new_school_admin_check']" routerLinkActive="router-link-active"  class="btn btn-warning btn-xs">Cancel</a>
                    <a [routerLink]="['/admin/assignments/schoolNewReq']" routerLinkActive="router-link-active"  class="btn btn-primary btn-xs">Back to School List</a>
                  </div>
                </div>
              </li>
              <!-- END timeline item -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-user bg-aqua"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 25 mins ago</span>

                  <h3 class="timeline-header no-border">Requirements sent back to Beneficiary</h3>

                </div>
              </li>

              <!-- END timeline item -->
              <!-- timeline item -->


              <!-- END timeline item -->
              <!-- timeline time label -->

              <!-- /.timeline-label -->
              <!-- timeline item -->

              <!-- END timeline item -->




              <!-- timeline item -->
              <li>
                <div class="timeline-footer">
                    <a href="#" class="btn btn-xs bg-maroon">Go to Top</a>
                  </div>
              </li>
              <!-- END timeline item -->
              </ul>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->


        <!-- /.row -->

      <!-- </section> -->
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

   
