    <!-- Content Header (Page header) -->
    <section class="content-header">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>Sponsor</h3>

              <p></p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="assingedSchoolsList.html" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>Inbox<sup style="font-size: 20px"></sup></h3>

              <p></p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->

        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>Logout</h3>

              <p></p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <h1>
        Sponsor
        <small>screen</small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->

      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Refer volunteer</h3>


            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <div class="form-group" class="col-xs-4">
                <label>Select by District</label>
                <select class="form-control select2" style="width: 20%;">
                  <option selected="selected">Select</option>
                  <option>Cuddalore</option>
                  <option>Kanchipuram</option>
                 </select>
              </div>

              <div class="form-group" class="col-xs-4">
                <label>Select by Town</label>
                <select class="form-control select2" style="width: 20%;">
                  <option selected="selected">Select</option>
                  <option>Neyveli</option>
                  <option>Chengalpattu</option>
                 </select>
              </div>

              <div class="input-group">
       				<span class="input-group-addon">Enter Email id's</span>
      				        <textarea class="form-control" rows="3" placeholder="Enter email id's"></textarea>
              </div>


              <div class="input-group">
                <br>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">
                Cancel
              </button>
              <a href="pages/examples/volunteerRegister.html"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
                Send Email to contacts
              </button></a>
              </div>
            </div>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  