<div>
<p>
  Thanks and Appreciate Your contributions
</p>
<p>
  Summary of Payment Details
</p>

</div>
<div>
  <table>
    <tr>
      <td><label class="control-label">Donor First Name</label></td>
      <td><label class="control-label">asdf</label></td>
    </tr>
    <tr>
      <td><label class="control-label">Donor Last Name</label></td>
      <td><label class="control-label">asdf</label></td>
    </tr>
    <tr>
      <td><label class="control-label">Donor Email Id</label></td>
      <td><label class="control-label">asdf</label></td>
    </tr>
    <tr>
      <td><label class="control-label">Donor Phone Number</label></td>
      <td><label class="control-label">asdf</label></td>
    </tr>
    <tr>
      <td><label class="control-label">School Name</label></td>
      <td><label class="control-label">asdf</label></td>
    </tr>
    <tr>
      <td><label class="control-label">Donated Amount</label></td>
      <td><label class="control-label">asdf</label></td>
    </tr>
    <tr>
      <td><label class="control-label">Requirement Description</label></td>
      <td><label class="control-label">asdf</label></td>
    </tr>
    <tr>
      <td><label class="control-label">Mode of Payment</label></td>
      <td><label class="control-label">asdf</label></td>
    </tr>

  </table>
  <div>
    <p> Link to Payment Gateway </p>
  </div>

</div>
