<div>
<p>
  Thanks and Appreciate Your contributions
</p>
<p>
  Summary of Payment Details
</p>

</div>



<div class="container">
  <form [formGroup]="paymentSummaryForm">
  <table>
    <tr>
      <td>Donor First Name</td>
      <td>{{this.paymentSummaryForm.controls.donarFirtName.value}}</td>
    </tr>
    <tr>
      <td>Donor Last Name</td>
      <td>{{this.paymentSummaryForm.controls.donarLastName.value}}</td>
    </tr>
    <tr>
      <td>Donor Email Id</td>
      <td>{{this.paymentSummaryForm.controls.donarEmailId.value}}</td>
    </tr>
    <tr>
      <td>Donor Phone no</td>
      <td>{{this.paymentSummaryForm.controls.donarPhoneNo.value}}</td>
    </tr>
    <tr>
      <td>School Name</td>
      <td>{{this.paymentSummaryForm.controls.schoolName.value}}</td>
    </tr>
    <tr>
      <td>Donated Amt</td>
      <td>{{this.paymentSummaryForm.controls.amount.value}}</td>
    </tr>
    <tr>
      <td>Requirement Description</td>
      <td>{{this.paymentSummaryForm.controls.requirementDesc.value}}</td>
    </tr>
    <tr>
      <td>Mode of Pay</td>
      <td>{{this.paymentSummaryForm.controls.paymentMode.value}}</td>
    </tr>
  </table>
  <div>
    <a href="" (click)="makePayment($event)"> Link to Payment Gateway </a>
  </div>
</form>
</div>
