<div class="page_container">

  <div class="container">
    <div class="card">
      <div class="card-header display-5">
        {{schoolRegForm.controls.schoolInfo.value.schoolName}} -
        {{schoolRegForm.controls.schoolInfo.value.schoolRegNo}}
      </div>
      <div class="card-body">
        <table class="floatRight">
            <tr>
              <td><img [src]="url" height="200"> <br/></td>
            </tr>
          </table>
        <table class="floatLeft">
          <tbody>
            <tr>
              <td colspan="3">
                <h6 class="card-title">School Information</h6>
              </td>
            </tr>
            <tr>
              <td>School Type</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.schoolInfo.value.schoolType}}</td>
            </tr>
            <tr>
              <td>Number of Students</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.schoolInfo.value.numberOfStudents}}</td>
            </tr>
            <tr>
              <td>Number of Teachers</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.schoolInfo.value.numberOfTeachers}}</td>
            </tr>

            <tr>
              <td colspan="3">
                <h6 class="card-title">Contacts</h6>
              </td>
            </tr>
            <tr>
              <td>Primary Contact</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.contacts.value.priName}}</td>
            </tr>
            <tr>
              <td>Primary Contact Number</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.contacts.value.priNum}}</td>
            </tr>
            <tr>
              <td>Primary Contact Email</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.contacts.value.priEmail}}</td>
            </tr>
            <tr>
              <td>Secondary Contact</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.contacts.value.secName}}</td>
            </tr>
            <tr>
              <td>Secondary Contact Number</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.contacts.value.secNum}}</td>
            </tr>
            <tr>
              <td>Secondary Contact Email</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.contacts.value.secEmail}}</td>
            </tr>
            <tr>
              <td colspan="3">
                <h6 class="card-title">Address</h6>
              </td>
            </tr>
            <tr>
              <td>Address</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.address.value.addressLine1}}</td>
            </tr>
            <tr>
              <td>Street Name</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.address.value.addressLine2}}</td>
            </tr>
            <tr>
              <td>Town/City</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.address.value.city}}</td>
            </tr>
            <tr>
              <td>District</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.address.value.district}}</td>
            </tr>
            <tr>
              <td>State</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.address.value.state}}</td>
            </tr>
            <tr>
              <td>Pincode</td>
              <td class="px-5">:</td>
              <td class="px-5">{{schoolRegForm.controls.address.value.pinCode}}</td>
            </tr>
            <tr>
              <td colspan="3">
                <h6 class="card-title">Requirements</h6>
              </td>
            </tr>
            <tr class="ml-5">
                <table border="1" class="table table-bordered">
                  <tr>
                    <th>Requirement Type</th>
                    <th>Asset Type</th>
                    <th>Asset Name</th>
                    <th>Quantity</th>
                  </tr>
                  <tr *ngFor='let requirement of schoolRegForm.controls.requirements.value'>
                    <td>{{requirement.reqType}}</td>
                    <td>{{requirement.assetType}}</td>
                    <td>{{requirement.assetName}}</td>
                    <td>{{requirement.quantity}}</td>
                  </tr>
                </table>
              </tr>
              <tr>
                <td colspan="3">
                  <h6 class="card-title">Proof Of Identity</h6>
                </td>
              </tr>
              <tr>
                <td>Comments / Message to Trust</td>
                <td class="px-5">:</td>
                <td class="px-5">{{schoolRegForm.controls.proofOfId.value.comments}}</td>
              </tr>  
        </table>
      </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-success" (click)="gotoSchoolRegPage()">Back</button>
        <button type="submit" class="btn btn-success" (click)="addSchoolRegForm()">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
    </div>
  
  </div>

</div>